@import '../../utils/utils.styl'


#loading-cover
  size 100vw 100vh
  background $white2
  position fixed
  z-index 101
  opacity 1
  transition all .3s ease
  overflow hidden
  &.loading-hide
    transform translate(0, 100vh)
  .loading-ani
    size 16vw 20vw
    position absolute
    left 50%
    top 50%
    margin-left -8vw
    margin-top -10vw
    &>div
      background $gray3
      border-radius 5px
      size 1.2vw 10vw
      margin 0 1vw
.bp3-dark
  #loading-cover
    background $bg3
    .loading-ani>div
      background $white5