@import '../../utils/utils.styl'

#content
  width 100%
  max-width 1240px
  box-sizing border-box
  margin 0 auto
  padding 40px
  padding-top 70px
  display flex
  align-items flex-start

.content-item
  border-radius 5px
  
.content-left
  width 620px
  padding-right 20px
  flex-grow 1
  flex-shrink 1
  
.content-right
  display block
  position sticky
  top 70px
  flex-grow 0
  flex-shrink 0
  width 300px
  transition all .3s ease
  &.con-move-to-top
    transform translate(0, -320px)

@media screen and (max-width 1240px)
  .content-left
    padding-right 20px
  .content-right
    right 40px
    width 240px
    margin-right 0

@media screen and (max-width 800px)
  #content
    flex-direction column 
    padding 0
  .content-item
    border-radius 0px
  .content-left
    padding-top 50px
    padding-right 0
    width 100vw
  .content-right
    position static
    padding 0
    width 100vw
    &.con-move-to-top
      transform none !important
      div.section-item:first-of-type
        transform none !important