@import '../../utils/utils.styl'

#content
  width 100%
  max-width 1440px
  box-sizing border-box
  margin 0 auto
  padding 20px
  overflow hidden
  display flex
  align-items flex-start

.content-item
  background-color white
  border-radius 5px
  border 1px solid #e3e3e3
  
.content-left
  flex 1
  
.content-right
  width 360px
  margin-left 20px