@import '../../utils/utils.styl'

#content
  width 100%
  max-width 1240px
  box-sizing border-box
  margin 0 auto
  padding 20px
  padding-top 70px
  overflow hidden
  display flex
  align-items flex-start

.content-item
  border-radius 5px
  
.content-left
  width 620px
  flex-grow 1
  flex-shrink 1
  
.content-right
  flex-grow 0
  flex-shrink 0
  width 300px
  margin-left 20px