@import '../../utils/utils.styl'

#header-container
  position fixed
  width 100vw
  z-index 100

#nav-content
  max-width 1440px
  margin 0 auto
  a
    color inherit !important
    &:hover
      color inherit 
      text-decoration-color inherit