@import '../../utils/utils.styl'

.not-found
  size 100vw auto
  box-sizing border-box
  padding 20vh 0
  text-align center
  font-size 2.5vh
  color $gray4
  div
    margin 20px auto
  .not-f-icon
    width 40vw
    padding-bottom 3vw
