@import '../../utils/utils.styl'

footer 
  size 100% auto 
  box-sizing border-box
  text-align center
  color $gray4
  padding-bottom 10px
  font-size 13px
  overflow hidden
  p
    .span-item::after
      content ' | '
    .span-item:last-of-type::after
      content ''
  a
    color $gray1