@import '../../utils/utils.styl'

.blank-sec
  padding 0 10px
  margin-top -8px
  color $gray2
  text-align left
  p
    margin-bottom 8px
    font-size 13px
    a
      color $gray1

  
.bp3-dark
  .blank-sec
    color $white5
    a
      color $white4


@media screen and (max-width 800px)
  .blank-sec
    text-align center
    padding-bottom 10px
    