@import '../../utils/utils.styl'

.label-sec-item
  color $color2
  background $white4
  padding 3px 6px
  margin 3px 5px
  border-radius 5px
  transition all .3s
  &:hover
    background $color3
    color white

.bp3-dark
  .label-sec-item
    background $bg2
    color $gray4
    &:hover
      color $color2
      background $white4