@import '../../utils/utils.styl'

.link-sec
  line-height: 1.6em
  .link-sec-item
    margin .8em 0
    line-height 1.2em
    padding-left 5px
    .bp3-icon
      color $white5
      size .8em
      margin-right 5px    
      vertical-align top
      height 0
      svg
        vertical-align middle
        padding-right .3vw

