@import '../../utils/utils.styl'
@import '~github-markdown-css/github-markdown.css'

.article-container
  padding 20px
  .con-info
    margin-bottom 40px
    text-align center
    .title
      padding-bottom 5px
    .info
      color $color3
      opacity .9
    span.blank
      padding 0 6px
      &::after
        content '|'
    