@import '../../utils/utils.styl'
@import '~github-markdown-css/github-markdown.css'

.article-container
  padding 20px
  .con-info
    margin-bottom 40px
    text-align center
    .title
      padding-bottom 5px
    .info
      color $color3
      opacity .9

.bp3-dark
  .con-info .info
    color $white5
  .markdown-body
    color $white4
    pre 
      background-color $bg3