@import '../../utils/utils.styl'

.section-item
  box-sizing border-box
  padding 20px
  box-shadow 0px 0px 10px #e2e2e2
  background white
  border-radius 5px
  border 1px solid #dddddd
  margin-bottom 20px

.bp3-dark .section-item
  background-color #394b59
  box-shadow none
  border 1px solid #293742