@import '../config/index.styl'

// 大小
size()
	width arguments[0]
	height arguments[1] ? arguments[1] : arguments[0]
	
// 定位
absolute()
	position absolute
	margin arguments
relative()
	position relative
	margin arguments
fixed()
	position fixed
	margin arguments

// 固定居中
middleAbsolute()
	position absolute
	top 50%
	left 50%
	margin-top -(@height / 2)
	margin-left -(@width / 2)

line-center
	line-height @height
	text-align center

// 文字超出省略号
textFlow()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	
