@import '../../utils/utils.styl'

.user-sec-container
  .user-avator
    border-radius 50%
    border 5px solid rgba($white5, .5)
    size 160px
    display block
    margin 20px auto 10px
  .user-name
    text-align center
    color $color1
    padding-bottom 5px
  .user-desc
    text-align center
    line-height 1.8em
    color $color2
  .bp3-fill
    margin-top 10px
    margin-bottom 10px


.bp3-dark
  .user-name
    color $white2
  .user-desc
    color $white4