@import '../../utils/utils.styl'

.user-sec-container
  .user-avator
    border-radius 50%
    border 5px solid rgba($white5, .5)
    size 120px
    display block
    margin 20px auto 10px
  .user-name
    text-align center
    color $color1
    padding-bottom 5px
  .user-link
    text-align center
    display block

  .user-desc
    text-align center
    line-height 1.8em
    color $color2
  .bp3-fill
    margin 15px auto 0
    max-width 220px
  .change-mode-btn
    margin-top 20px
.bp3-dark
  .user-name
    color $white2
  .user-desc
    color $white4
  .user-avator
    border-color rgba($bg4, .5)


@media screen and (max-width 800px)
  .bp3-fill
    width 300px !important
    max-width 80vw