@import '../../utils/utils.styl'

.bp3-dark
  .gt-header-textarea
    background $bg2 !important
    color $white4
  .gt-header-preview
    background $bg2 !important
  .gt-btn-preview
    background $white5 !important
  .gt-comment-content
    background $bg2 !important
    &:hover
      box-shadow 0 0.625em 3.75em 0 $bg1 !important
    .gt-comment-body
      color $white5 !important
      &:hover pre
        background $white5 !important
        color $black3
      pre
        background $bg3 !important
        