@import '../../utils/utils.styl'

#netease-music
  position fixed
  border-radius 5px
  overflow hidden
  top 50px
  right 0px
  overflow hidden
  box-sizing content-box
  padding 10px
  z-index 11
  transition all .3s

@media screen and (max-width 1720px)
  #netease-music
    right -251px !important
    &:hover
      right 0px !important

@media screen and (max-width 800px)
  #netease-music
    display none