@import '../../utils/utils.styl'

#netease-music
  position fixed
  border-radius 5px
  overflow hidden
  top 60px
  right 10px
  z-index 11
  transition all .3s

@media screen and (max-width 1600px)
  #netease-music
    right -241px !important
    &:hover
      right 10px !important

@media screen and (max-width 800px)
  #netease-music
    display none