@import '../../utils/utils.styl'

.post-container
  .post-item
    border-bottom 1px solid $white3
    box-sizing border-box
    padding 35px 30px
    margin 0 20px
    transition background .3s ease
    &:hover
      background $white2
      cursor pointer
    h3
      line-height 2em
      color $black4
    .item-info
      color $color3
    .item-body
      color $gray1
      padding 8px 0
      overflow hidden
    .item-labels
      margin 7px 0
      .label-item
        padding 2px 8px
        border-radius 4px
        background $white4
        margin-right 10px

  a:hover
    text-decoration none
    
.bp3-dark
  .post-item
    border-bottom 1px solid $bg2
    &:hover
      background $bg2
    h3
      color $white3
    .item-info
      color $white5
    .item-body
      color $gray4
    .item-labels
      .label-item
        background $bg2
        color $gray4