@import '../../utils/utils.styl'

.post-container
  a:last-of-type .post-item
    border none
  .filter-info
    font-size 16px
    size 100% auto 
    padding 0px 0 0
    text-align center
    font-weight 500
    color $black5
    &:first-of-type
      margin-top 10px
  .post-item
    border-bottom 1px solid $white3
    box-sizing border-box
    padding 35px 30px
    margin 0 20px
    transition background .3s ease
    &:hover
      background $white2
      cursor pointer
    h3
      line-height 2em
      color $black4
    .item-info
      color $color3
    .item-body
      color $gray1
      padding 8px 0
      overflow hidden
    .item-labels
      margin 7px 0
      .label-item
        padding 2px 8px
        border-radius 4px
        background $white4
        margin-right 10px
  .post-changer
    overflow hidden
    padding 30px 20px 10px
    .changer-left
      float left
    .changer-right
      float right
  a:hover
    text-decoration none
    
.bp3-dark
  .filter-info
    color $white5
  .post-item
    border-bottom 1px solid $bg2
    &:hover
      background $bg2
    h3
      color $white3
    .item-info
      color $white5
    .item-body
      color $gray4
    .item-labels
      .label-item
        background $bg2
        color $gray4


@media screen and (max-width 800px)
  .post-container
    .post-item
      padding 20px 0