@import '../../utils/utils.styl'

.post-container
  .post-item
    border-bottom 1px solid $white4
    box-sizing border-box
    padding 30px
    margin 0 20px
    &:hover
      background-color $white2
      cursor pointer

.bp3-dark
  .con-info .info
    color $white5
  .markdown-body
    color $white4
    pre 
      background-color $gray1